

		<%if current_customer%>
			
           
           
						<%@mobile_recharges.each do |mobile_recharge|%>
						<%= mobile_recharge.company%> <br> <br>

						<%end%>
						<a class = 'btn btn-primary' href = '#'>test</a>
		<%else%>
		         <%= link_to 'Login' ,new_customer_session_path %>
		<%end%>

